---
layout: page
title: Opportunities
description: Join the SYSTRON Lab team
background: "/img/smart-cities.jpg"
---

{% for opportunity in site.opportunities %}

<article class="post-preview card mb-3">
  <a class="stretched-link" href="{{ opportunity.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="{{ opportunity.title }}"></a>
    <div class="card-body">
      <h2 class="post-title">{{ opportunity.title }}</h2>
      {% if opportunity.subtitle %}
      <h3 class="post-subtitle">{{ opportunity.subtitle }}</h3>
      {% else %}
      <h3 class="post-subtitle">
        {{ opportunity.excerpt | strip_html | truncatewords: 15 }}
      </h3>
      {% endif %}
    
      {% if opportunity.closing %}
      <p class="post-meta">Apply by {{ opportunity.closing | date: '%d %B %Y' }}</p>
      {% endif %}
    </div>
</article>

{% endfor %}