---
layout: page
title: News
background: "/img/smart-cities.jpg"
---

<!-- Escapes page container -->
</div>
<div class="col-lg-10 col-md-12 mx-auto">

<div class="row news-posts">

  {% for post in paginator.posts %}

  <div class="col-md-6 mb-4">
    <article class="post-preview card h-100">
      <a class="stretched-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="{{ post.title }}"></a>

      {% if post.background %}
      <img src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}" class="card-img-top" alt="">
      {% else %}
      <img src="/img/wireless-network.jpg" class="card-img-top" alt="">
      {% endif %}

      <div class="card-body">

        <h2 class="post-title">{{ post.title }}</h2>

        {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% else %}
        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
        {% endif %}

        <p class="post-meta">
          {{ post.date | date: '%-d %B %Y' }} &middot;
          {% include read_time.html content=post.content %}
        </p>

      </div>
    </article>
  </div>

  {% endfor %}

</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">
  {% if paginator.previous_page %}
  <a
    class="btn btn-primary float-left"
    href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
    >&larr; Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a
    class="btn btn-primary float-right"
    href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
    >Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}
</div>

{% endif %}