<footer>
  <div class="container">
    <div class="row justify-content-center align-items-center footer-logos">
      <div class="col-auto">
        <img src="/img/logos/cheddar.png" alt="Cheddar Logo" />
      </div>
      <div class="col-auto">
        <img src="/img/logos/ukri.png" alt="UKRI Logo" />
      </div>
      <div class="col-auto">
        <img src="/img/logos/dsit.png" alt="DSIT Logo" />
      </div>
      <div class="col-auto">
        <img src="/img/logos/uoy.png" alt="UOY Logo" />
      </div>
    </div>

    <div class="row justify-content-center">
      <p class="copyright text-muted">
        Copyright &copy; SYSTRON Lab {{ 'now' | date: "%Y" }} &middot;
        <a
          href="https://www.york.ac.uk/about/legal-statements/"
          target="_blank"
        >
          Legal Statements
        </a>
      </p>
    </div>
  </div>
</footer>
