---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading home-heading">
            <h1 class="text-center">{{ site.title }}</h1>
            {% if site.description %}
            <span class="text-center subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <section role="region" aria-labelledby="research-title" class="container" id="research">
    <h2 class="text-center" id="research-title">Our Research Themes</h2>

    <div class="row">
      {% for theme in site.research %}
      <div class="col-lg-4 col-md-6 mx-auto research-topic">
        <div class="card text-center">
          <img src="{{ theme.background | prepend: site.baseurl | replace: '//', '/' }}" class="card-img-top" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ theme.title }}</h4>
            <p class="card-text">{{ theme.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
  </section>

  <div class="container-fluid people-banner mx-auto">
    <section role="region" aria-labelledby="research-team" class="container">
        <h2 class="text-center" id="research-team">Our Research Team</h2>
        <div class="row justify-content-center">
        {% assign people = site.people | sort: "priority" | reverse %}
        {% for person in people %}
        {% if person.former %}{% continue %}{% endif %}
          <div class="col-sm-3 col-6 text-center person">
              {% if person.photo %}
              <img class="img-thumbnail border border-0 rounded-circle"
                src="{{ person.photo | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ person.name }}">
              {% else %}
              <img class="img-thumbnail border border-0 rounded-circle"
                src="/img/people/placeholder.png">
              {% endif %}
              <h3>{{ person.name }}</h3>
              <p>{{ person.role }}</p>
          </div>
        {% endfor %}
        </div>
        <br>
        <div class="clearfix text-center">
          <a class="btn btn-secondary" href="{{"/people" | relative_url }}">Meet our team &rarr;</a>
        </div>
      </section>
  </div>

  {% unless site.opportunities.size == 0 %}
  <div class="container-fluid opportunities-banner mx-auto">
    <section role="region" aria-labelledby="opportunities-title" class="container">
      <div class="row text-center">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 class="text-center" id="opportunities-title">Join Our Team!</h2>
          {% for opportunity in site.opportunities %}
            <a href="{{ opportunity.url | prepend: site.baseurl | replace: '//', '/' }}">
              <article class="opportunity">
                <h3 class="opportunity-title">{{ opportunity.title }} <span aria-hidden="true">&rarr;</span></h3>
                {% if opportunity.closing %}
                  <p class="opportunity-meta">
                    Apply by {{ opportunity.closing | date: "%d %B %Y" }}
                  </p>
                {% endif %}
              </article>
            </a>
          {% endfor %}
        </div>
      </div>
              <br>
        <div class="clearfix text-center">
          <a class="btn btn-warning" href="{{"/opportunities" | relative_url }}">View All Opportunities <span aria-hidden="true">&rarr;</span></a>
        </div>
    </section>
  </div>
  {% endunless %}


  <section role="region" aria-labelledby="newsfeed-title" class="container text-center">

    <h2 id="newsfeed-title">Latest News</h2>

    <div class="card-columns home-posts">

        <!-- Home Post List -->
        {% for post in site.posts limit : 3 %}
        <article class="post-preview card mb-6">
          <a class="stretched-link" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"></a>
          {% if post.background %}
          <img src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}" class="card-img">
          {% else %}
          <img src="/img/wireless-network.jpg" class="card-img">
          {% endif %}

          <div class="card-body">

            <h3 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <p class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
            <p class="post-meta">
              {{ post.date | date: '%-d %B %Y' }} &middot; {% include read_time.html content=post.content %}
            </p>
          </div>
        </article>

        {% endfor %}

      </div>

        <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary" href="{{"/news" | relative_url }}">View All News <span aria-hidden="true">&rarr;</span></a>
      </div>

    </div>

  </section>


  <section role="region" aria-labelledby="publications-title" class="publications-banner container-fluid text-center">
    <div class="container">

    <h2 id="publications-title">Latest Publications</h2>

    <div class="card-columns home-pubs">

        <!-- Home Publication List -->
        {% assign publications = site.publications | reverse %}
        {% for publication in publications limit : 4 %}

       <article
        class="post-preview post-preview-inverted card mb-3"
        data-title="{{ publication.title | downcase | escape }}"
        data-authors="{{ publication.authors | array_to_sentence_string | downcase | escape }}"
        data-desc="{{ publication.excerpt | strip_html | downcase | escape }}"
        data-venue="{% if publication.venue %}{{ publication.venue | downcase | escape }}{% endif %}"
        data-date="{{ publication.date | date: '%d %B %Y' | downcase | escape }}"
        data-year="{{ publication.date | date: '%Y' | escape }}"
      >
          <a class="stretched-link" href="{{ publication.url | prepend: site.baseurl | replace: '//', '/' }}"></a>
          <div class="card-body">
            <h3 class="post-title">{{ publication.title }}</h2>

            <p class="post-subtitle">
              {{ publication.authors | array_to_sentence_string | truncatewords: 30 }}
            </p>

            <p class="post-meta">
              {% if publication.venue %} Published in {{ publication.venue }} &middot;
              {% endif %} Published on {{ publication.date | date: '%d %B %Y' }} {% if
              publication.preprint %} &middot; Preprint {% endif %}
            </p>
          </div>
        </article>

        {% endfor %}

      </div>

        <!-- Pager -->
      <div class="clearfix">
        <a class="btn" href="{{"/publications" | relative_url }}">View All Publications <span aria-hidden="true">&rarr;</span></a>
      </div>

    </div>
  
  </div>

  </section>
